* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/simbolos-do-autismo-min-1024x683.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* Altura total da tela */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

fieldset {
    border: none;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"], input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

.botao {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.botao:hover {
    background-color: #45a049;
}


.box_escola, .box_endereco, .box_estudante{
    display: flex;
    align-items: center;
    justify-content: space-between;
}